*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width:100vw;
    height:100vh;
    /* background-color: aqua; */
}

hr{
    width:500px;
    height: 3px;
    background-color: black;
    margin: 0 auto;
}
.board{
    width:450px;
    height:450px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    margin:0;
    padding: 0;
    width:147px;
    height:150px;
    font-size: 150px;
}
.horizontal-line{
    border-bottom: 3px solid black;
}
.vertical-line{
    border-right:3px solid black;
}
.winner{
    background-color: lightgray;
    color:red;
}
.text{
    font-weight: 400;
    font-size: 2rem;
}
@media(max-width:521px){
    .board{
        width:330px;
        height: 330px;
       
    }
    .tile{
        width:107px;
        height: 110px;
        font-size: 110px;
    }
    hr{
        width:330px;
    }
    body{
        margin-top: 160px;
    }
    .board div{
    display: inline-block;
    }
    
}