<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>TicTacToe</title>
</head>
<body>
    <div class="heading">
        <h1>Tic Tac Toe</h1>
        <hr>
    </div>
    <br>
    <div class="text" id="text"></div>
    <!-- 3x3 -->
    <div class="board" id="board"></div>
    <script src="index.js"></script>
</body>
</html>