<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>theConnect4Game</title>
</head>
<body>
    <section class="blur">
        <div class="modal blur">
        <div class="flex">
            <span>INSTRUCTIONS!</span>
            <button class="btn-close">X</button>
        </div>
        <div>
        </div>
            <p>Howdy! A classic connect 4 game, on your turn, drop one of your colored discs from the top into any one of the seven slots. The first player to connect four of their discs horizontally, vertically, or diagonally wins the game.</p>
        </div>
    </section>
    <div class="btn-wrap-wrap"><div class="btn-wrap"><button class="btn btn-open">?</button></div></div>
    <div class="overlay">
        <h1>Connect 4</h1>
        <div class="popup"></div>
        <h2 class="winner" id="winner">Processing</h2>
        <div class="board" id="board"></div>
        <script src="index.js"></script>
    </div>
</body>
</html>